.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 1px solid;
}

td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 20px;
}

@media print {
    .hide-print {
      display: none;
    }
}

.center {
    margin: auto;
    width: 20%;
    border: 3px ;
    padding: 10px;
}